body{font-style: italic;
font-family: sans-serif;
background-image: url('../pizzaimages/backgroundpizza.jpeg');
background-repeat: no-repeat;
background-size: cover;
}
header{color: #fff3b0;
       weight: bold;
      font-size: 40px;
      font-style: italic;
      text-align: center;
      padding-top: 10px;
      background-color: #432818;
      background-image: url('../pizzaimages/pizzaname.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
}
header a{text-decoration: none;}
header a:link{color:#02c39a;}
header a:visited{color: #ef6351;}
header a:hover{color: #BFD2BF;
background-color: #2B2D42;
opacity: 0.5;}

nav{color: #132a13;
weight:bold;
font-size: 40px;
font-style: italic;
text-align: center;
padding-top: 10px;
background-color:#c2c5aa; }

nav a{text-decoration: none;}
nav a:link {color: #000066;}
nav a:visited {color: #02c39a;}
nav a:hover {color: #006d77;
background-color: #4a4e69;
}

#detail{text-align: center;}

#details{padding-left: 30%;
          padding-right: 25%;
          padding-top: .5%;}

h1{weight: bold;
font-size:30px;
color: #540b0e;
text-align: center;
background-color: #aec3b0;
}

h2{font-style: italic;
color: #333d29;
background-color: #c6ac8f;
text-align: center;}

h3{text-align: center;}

h4{color: #e36414;
text-align: center;}
p {background-color: #fff3b0;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 30px;
color: #540b0e;
border-style: double;
}
footer{color: #9e2a2b;
        background-color: #e09f3e;
      font-size: 20px;
    text-align: center;}
